<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042709637721-jtdvh8r03gnkipm7p95ef6lmqblad2fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042709637721-jtdvh8r03gnkipm7p95ef6lmqblad2fa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1042709637721-ol0vchs1et6upcr659dif3np4ffeebvq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkrayjPK57DtQS53jxj6Z9U8xVSaw4Q4w</string>
	<key>GCM_SENDER_ID</key>
	<string>1042709637721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uz.datos.app</string>
	<key>PROJECT_ID</key>
	<string>datos-2024f</string>
	<key>STORAGE_BUCKET</key>
	<string>datos-2024f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042709637721:ios:5e424aeb8aa7e7f81c9f48</string>
</dict>
</plist>